.user-profile{
    background: center no-repeat url('../images/gallerydefault.jpg') black;
    opacity: 0.8;
    height: 350px;
    width: 100%;
}
#user-info{
    width: 960px;
    margin: auto;
    padding-top: 35px;
}
#bites{
    width: 37.5%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin-top: 30px;
}
.user-profile figure{
    display: center;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}
#user-profilepic{
    clear: both;
    border-radius: 200px;
    width: 225px;
    height: 225px;
    border: 3px solid lightgray;
}
#user-name{
    text-align: center;
    color: white;
}
#restaurants{
    width: 37.5%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin-top: 30px;
}
#grid-icon, #list-icon{
    color: #3F4D51;
}
#grid-icon:hover, #list-icon:hover{
    color: #7CD6F1;
}
.icon-selected{
    color:#40A4C4 !important;
}
#gallery-view{
    margin: 20px auto;
    text-align: center;
}
.grid-container{
    width: 33.3%;
    height: 190px;
    box-sizing: border-box;
    margin: 0;
    display: inline-block;
}
.food-pic-grid{
    width: 100%;
    height: 190px;
    padding-right: 10px;
    padding-bottom: 7px;
    object-fit: cover;
    box-sizing: border-box;
}
.overlay{
    position: absolute;
    width: 293.02px;
    height: 183px;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
}
.overlay>h2{
    margin-top: 50px;
}
.overlay>h5, .overlay>i{
    color: white;
}
.grid-container:hover .overlay{
    opacity: .8;
}
figure{
    display: inline-block;
}
section ul li{
    display: inline;
}
#block{
    display: inline-block!important;
}
select, option{
    margin-right: 5px;
    font-family: 'Karla', Arial, Helvetica, sans-serif;
    border-radius: 3px;
    border: 1px solid #A4B8BE;
    padding: 2px;
}
hr{
    background-color: #7CD6F1;
    height: 2px;
    border: none;
}
.list-container{
    border: 1px solid #A4B8BE;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
}
.list-container img{
    float: left;
    margin-right: 15px;
}
.list-caption{
    padding: 5px;
    display: block;
    float: left;
}
#inline{
    display: inline;
}
.float{
    float: left;
}
#view-icons{
    float: right;
}
.food-pic-list{
    width: 315px;
    height: 190px;
    object-fit: cover;
    padding-right: 10px;
    padding-bottom: 7px;
    box-sizing: border-box;
}