header {
  background-image: url('../images/gallerydefault.jpg');
  width: 100%;
  height: 180px;
  padding: 10px;
  box-sizing: border-box;
} 

header div {
  width: 720px;
  margin: auto;
}

#header-logo {
  color: azure;
  text-align: center;
}

section {
  width: 720px;
  height: 300px;
  margin-top: 15px;
  margin-left: auto;
  margin-bottom: 15px;
  margin-right: auto;
}

#login-form {
  width: 300px;
  margin-top: 115px;
  float: right;
}

#app-about img {
  float: right;
}

#app-about div {
  padding-top: 50px;
}

figure img {
  border-radius: 50%;
}

#how-to-use figure {
  display: inline-block;
  width: 230px;
  text-align: center;
}

#how-to-use img {
  margin: 15px;
}

#about-the-team figure {
  display: inline-block;
  text-align: center;
  width: 155px;
}

#about-the-team h2 {
  float: left;
  /* height: 20px;
  margin-bottom: 30px; */
}

footer {
  background-image: url(../images/gallerydefault.jpg);
  width: 100%;
  height: 150px;
  color: azure;
}

footer section {
  width: 960px;
}

footer div {
  display: inline-block;
  width: 230px;
}

#footer-logo img {
  width: 30px;
  height: 30px;
}


